[defaults]
# Pointer to inventory
inventory = ./inventory/hosts.yaml

# Pointer to roles
roles_path = ./roles

# Avoiding Ansible blocking for ssh keys
host_key_checking = False

# Clean buffer for warnings and trash files 
retry_files_enabled = False
deprecation_warnings = False

# Waiting timing 
timeout = 30

[persistent_connection]
# OS networking (Cisco OS, FortiOS)
command_timeout = 60
connect_timeout = 60

